* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  margin: 0;
  padding: 0;
}

main {
  padding: 16px;
}

footer {
  padding: 24px 0px 0px 24px;
}

img {
  height: 100px;
}

nav {
  border-bottom: 1px;
  padding: 16px;
}

#recipe-list{
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
}

.recipe-list-item {
 display: grid;
 grid-template-columns: ;
 grid-template-rows: ;


}
